#academic-division-faculty-and-staff-data {
    width: 60%;
    margin: 0 auto;
    background-color: #ffffff00;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

.academic-division-faculty-and-staff-data__staff {
    display: flex;
    width: 100%;
    gap: 5rem;
    padding: 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
}

.academic-division-faculty-and-staff-data__staff:last-child {
    border-bottom: unset;
}

/* user profile */
.academic-division-faculty-and-staff-data__staff > img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.academic-division-faculty-and-staff-data__staff__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.academic-division-faculty-and-staff-data__staff__info__tabs,
.academic-division-faculty-and-staff-data__staff__info__tabs > li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.academic-division-faculty-and-staff-data__staff__info__tabs > li {
    padding: 1rem;
    cursor: pointer;
}

.academic-division-faculty-and-staff-data__staff__info__tabs > li > * {
    pointer-events: none;
}

.academic-division-faculty-and-staff-data__staff__info__tabs > li.active {
    background-color: #4d576547;
}

.academic-division-faculty-and-staff-data__staff__info__tabs > li > img {
    width: 1rem;
    height: 1rem;
}

.academic-division-faculty-and-staff-data__staff__info > div {
    display: none;
}

.academic-division-faculty-and-staff-data__staff__info > div.active {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 2rem;
}

.academic-division-faculty-and-staff-data__staff__info > div.active > ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.1rem;
    color: #2e343c;
}

@media screen and (orientation: portrait) {
    #academic-division-faculty-and-staff-data {
        margin-bottom: 400px;
    }
}

@media screen and (orientation: portrait) and (max-width: 540px) {
    #academic-division-faculty-and-staff-data {
        width: 100%;
        padding: unset;
    }

    .academic-division-faculty-and-staff-data__staff {
        flex-direction: column;
        padding: 2rem;
        gap: 3rem;
    }

    .academic-division-faculty-and-staff-data__staff > img {
        width: 10rem !important;
        height: 10rem !important;
        border-radius: 50%;
    }

    .academic-division-faculty-and-staff-data__staff > * {
        width: 100% !important;
        height: 100% !important;
    }

    .academic-division-faculty-and-staff-data__staff__info__tabs {
        padding-bottom: 1.5rem;
    }

    #academic-division-data-top > li {
        height: 100%;
        display: grid;
        place-items: center;
    }
}

@media screen and (max-width: 1300px) {
    #academic-division-faculty-and-staff-data {
        width: 100%;
        align-items: center;
    }

    .academic-division-faculty-and-staff-data__staff {
        width: fit-content;
    }
}

@media screen and (orientation: portrait) and (max-width: 450px) {
    .academic-division-faculty-and-staff-data__staff__info__tabs {
        flex-direction: column;
        gap: unset;
    }

    .academic-division-faculty-and-staff-data__staff__info__tabs > li {
        width: 100%;
    }

    .academic-division-faculty-and-staff-data__staff {
        padding: 2rem;
        gap: 2rem;
    }

    .academic-division-faculty-and-staff-data__staff > img {
        width: 100% !important;
        height: 100% !important;
    }

    .academic-division-faculty-and-staff-data__staff__info {
        gap: unset;
    }

    .academic-division-faculty-and-staff-data__staff__info__tabs {
        padding-bottom: 0.5rem;
    }
}

@media screen and (orientation: portrait) and (max-width: 350px) {
    .academic-division-faculty-and-staff-data__staff__info__tabs {
        flex-direction: column;
        gap: unset;
    }

    .academic-division-faculty-and-staff-data__staff {
        padding: 1rem;
    }
}
