#academic-division {
    width: 100vw;
    margin: auto;
}

/*
    +------------------------------------------------------------------------------+
    |                                                                              |
    |  +----------------------------+  +---------------------------------------+   |
    |  |                            |  |                                       |   |
    |  |                            |  |                                       |   |
    |  |                            |  +---------------------------------------+   |
    |  |                            |  |                                       |   |
    |  |                            |  |                                       |   |
    |  |                            |  +---------------------------------------+   |
    |  |                            |  |                                       |   |
    |  |                            |  |                                       |   |
    |  +----------------------------+  +---------------------------------------+   |
    |                                                                              |
    +------------------------------------------------------------------------------+
*/
#academic-division-logo-and-charter {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    padding-bottom: 10rem;
}

/*
    Set both boxes to have 50% width
    +--------------------------------------------------------------------+
    |                                 |                                  |
    |  +----------------------------+ | +-----------------------------+  |
    |  |                            | | |                             |  |
    |  |                            | | |                             |  |
    |  |                            | | +-----------------------------+  |
    |  |                            | | |                             |  |
    |  |                            | | |                             |  |
    |  |                            | | +-----------------------------+  |
    |  |                            | | |                             |  |
    |  |                            | | |                             |  |
    |  +----------------------------+ | +-----------------------------+  |
    |                                 |                                  |
    +--------------------------------------------------------------------+
*/
#academic-division-logo-and-charter>div {
    width: 50%;
}

/*
    +--------------------------------------------------------------------+
    |               HERE              |                                  |
    |  +----------------------------+ | +-----------------------------+  |
    |  |                            | | |                             |  |
    |  |                            | | |                             |  |
    |  |                            | | +-----------------------------+  |
    |  |                            | | |                             |  |
    |  |                            | | |                             |  |
    |  |                            | | +-----------------------------+  |
    |  |                            | | |                             |  |
    |  |                            | | |                             |  |
    |  +----------------------------+ | +-----------------------------+  |
    |                                 |                                  |
    +--------------------------------------------------------------------+
*/
#academic-division-logo-and-charter-logo {
    display: grid;
    place-items: center;
}

/*
    +--------------------------------------------------------------------+
    |                                 |                                  |
    |  +----------------------------+ | +-----------------------------+  |
    |  |                            | | |                             |  |
    |  |                            | | |                             |  |
    |  |         +--------+         | | +-----------------------------+  |
    |  |         |  HERE  |         | | |                             |  |
    |  |         |        |         | | |                             |  |
    |  |         +--------+         | | +-----------------------------+  |
    |  |                            | | |                             |  |
    |  |                            | | |                             |  |
    |  +----------------------------+ | +-----------------------------+  |
    |                                 |                                  |
    +--------------------------------------------------------------------+
*/
#academic-division-logo-and-charter-logo>img {
    width: 50%;
}

/*
    +--------------------------------------------------------------------+
    |                                 |  HERE                            |
    |  +----------------------------+ | +-----------------------------+  |
    |  |                            | | |                             |  |
    |  |                            | | |                             |  |
    |  |         +--------+         | | +-----------------------------+  |
    |  |         |        |         | | |                             |  |
    |  |         |        |         | | |                             |  |
    |  |         +--------+         | | +-----------------------------+  |
    |  |                            | | |                             |  |
    |  |                            | | |                             |  |
    |  +----------------------------+ | +-----------------------------+  |
    |                                 |                                  |
    +--------------------------------------------------------------------+
*/
#academic-division-logo-and-charter__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
}

/*
    +--------------------------------------------------------------------+
    |                                 |                                  |
    |  +----------------------------+ | +-----------------------------+  |
    |  |                            | | | HERE                        |  |
    |  |                            | | |                             |  |
    |  |         +--------+         | | +-----------------------------+  |
    |  |         |        |         | | | HERE                        |  |
    |  |         |        |         | | |                             |  |
    |  |         +--------+         | | +-----------------------------+  |
    |  |                            | | | HERE                        |  |
    |  |                            | | |                             |  |
    |  +----------------------------+ | +-----------------------------+  |
    |                                 |                                  |
    +--------------------------------------------------------------------+
*/
#academic-division-logo-and-charter__items>div {
    width: 70%;
}

/*
    +--------------------------------------------------------------------+
    |                                 |                                  |
    |  +----------------------------+ | +-----------------------------+  |
    |  |                            | | | HERE:p                      |  |
    |  |                            | | |                             |  |
    |  |         +--------+         | | +-----------------------------+  |
    |  |         |        |         | | | HERE:p                      |  |
    |  |         |        |         | | |                             |  |
    |  |         +--------+         | | +-----------------------------+  |
    |  |                            | | | HERE:p                      |  |
    |  |                            | | |                             |  |
    |  +----------------------------+ | +-----------------------------+  |
    |                                 |                                  |
    +--------------------------------------------------------------------+
*/
#academic-division-logo-and-charter__items>div>p:first-child {
    margin-bottom: 2rem;
    font-size: 2.7rem;
    font-weight: 500;
}

/*
    +--------------------------------------------------------------------+
    |                                 |                                  |
    |  +----------------------------+ | +-----------------------------+  |
    |  |                            | | |                             |  |
    |  |                            | | | HERE:p                      |  |
    |  |         +--------+         | | +-----------------------------+  |
    |  |         |        |         | | |                             |  |
    |  |         |        |         | | | HERE:p                      |  |
    |  |         +--------+         | | +-----------------------------+  |
    |  |                            | | |                             |  |
    |  |                            | | | HERE:ul                     |  |
    |  +----------------------------+ | +-----------------------------+  |
    |                                 |                                  |
    +--------------------------------------------------------------------+
*/
#academic-division-logo-and-charter__items>div>p:last-child,
#academic-division-logo-and-charter__items>div>ul>li {
    font-size: 1.4rem;
    color: #4d5765;
}

/*
    +--------------------------------------------------------------------+
    |                                 |                                  |
    |  +----------------------------+ | +-----------------------------+  |
    |  |                            | | |                             |  |
    |  |                            | | |                             |  |
    |  |         +--------+         | | +-----------------------------+  |
    |  |         |        |         | | |                             |  |
    |  |         |        |         | | |                             |  |
    |  |         +--------+         | | +-----------------------------+  |
    |  |                            | | |                             |  |
    |  |                            | | | HERE:ul                     |  |
    |  +----------------------------+ | +-----------------------------+  |
    |                                 |                                  |
    +--------------------------------------------------------------------+
*/
#academic-division-logo-and-charter__items>div:last-child>ul {
    text-decoration: none;
    margin-left: 2rem;
}

@media only screen and (orientation: portrait) {

    #academic-division-data-top {
        padding: 1rem 0;
    }

    #academic-division-data-background {
        /* position: absolute; */
        left: 0%;
        width: 210%;
        margin: unset;
        margin-left: -55%;
        /* transform: translateX(-26%); */
        overflow: hidden;
    }

    #academic-division-data-bottom {
        text-align: center;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    #academic-division-data-bottom-departments {
        gap: 0.5rem;
    }

    #academic-division-data-bottom>li {
        width: 100%;
        padding: unset;
    }

    #academic-division-data-bottom>li>a {
        padding: unset;
        width: 100%;
    }

    #academic-division-data-bottom>li>a,
    #academic-division-data-bottom-departments li a {
        background-color: rgb(218, 87, 55);
        color: white;
        text-decoration: none;
        padding: 5px 10px;
    }

    #academic-division-logo-and-charter {
        flex-direction: column;
        padding: 0;
        padding-bottom: 10rem;
    }

    #academic-division-logo-and-charter>div,
    #academic-division-logo-and-charter-logo>img {
        width: 100%;
    }

    #academic-division-logo-and-charter-logo>img {
        padding: 5rem 0;
    }

    #academic-division-logo-and-charter__items {
        width: 90% !important;
        margin: 0 auto;
    }

    #academic-division-logo-and-charter__items>div {
        width: 100%;
    }

    #academic-division-logo-and-charter__items>div>p:first-child {
        margin-bottom: 1rem;
    }
}