.top-navigation-container{
    width:100vw;
    height:auto;  
    margin:0px;
    text-align: center;
}
.top-navigation-container ul{
    list-style: none;
}
.top-navigation-container ul li{
    display:inline-block;
}
.top-navigation-container ul li a{
    text-decoration: none;
    color:rgb(146, 146, 146);
    font-size: 12px;
    font-family: "Jost", sans-serif;
    padding:15px;
   
}
  

.top-navigation-container ul li a:hover{
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}
.top-navigation-container ul li a:hover{
    color:black;
}