.colleges_main-container {
    background-image: url("../assets/img/FGMNEW.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 0;
    margin: 0;    
}

/* FOR NAVIGATIONS CONTAINER*/
.navigations-container{
    width:100vw;
    margin:auto;    
}
.college-top-navigation-container{
    width:100vw;
    height:auto;  
    margin:0px;
    text-align: center;
}
.college-top-navigation-container ul{
    list-style: none;
    padding-top:10px;
}
.college-top-navigation-container ul li{
    display:inline-block;
}
.college-top-navigation-container ul li a{
    text-decoration: none;
    color:rgb(146, 146, 146);
    font-size: 12px;
    font-family: "Jost", sans-serif;
    padding:20px 15px 20px 15px;
    transition: background-color 0.6s ease;
 
   
}
  
.college-top-navigation-container ul li a:hover{
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    color:rgb(0, 2, 31);
}


.bg-logo-container{/* FOR COLLEGE LOGO CONTAINER*/
    width:100%;
    margin-top: 10px;
}
.bg-logo-container .bg-logo{/* FOR COLLEGE LOGO*/
    width:100vw;
}

/* FOR SUB NAVIGATIONS CONTAINER*/
.courses-subNav-container{
    width:100vw; 
    padding:0px 20px;
    margin:5px 0px;
       
}
.courses-subNav-container .colleges-list{
    list-style: none;
}
.courses-subNav-container .colleges-list li{/* FOR SUB NAVIGATION LIST ITEM*/
    display:inline-block;     
  
    font-weight:bold;

}

/*FOR COLLEGE DEPARTMENT NAVIGATION LIST STYLE*/
.college-department-list{
    display: inline-block;    
    margin-left:30px; 
   
}

.college-department-list li a{
    font-family: "Jost", sans-serif;
    text-decoration: none;
    padding:10px 20px;
    color:rgb(0, 17, 73);
    display:inline-block; 
      
          
}
.college-department-list li:hover{
    background-color: rgb(255, 255, 255);  
    transform: scale(1.07);
}


/* FOR SUB NAVIGATIONS COLLEGES HOME BUTTON*/
.college-home{
    background-color: rgb(218, 87, 55);
    color:white; 
    text-decoration: none;   
    font-family: "Jost", sans-serif;
   padding:5px 10px;
}

/*FOR COLLEGE LOGO AND MISSION VISSION STYLE*/
.logo-and-mv-container{
    width:100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top:70px;
    background-color: rgba(255, 255, 255, 0.815);
    padding: 50px 0px 200px 0px;
    gap:100px;
    
}  
   
.logo-and-mv-container .logo-container .logo { /* FOR COLLEGE LOGO*/
    height: 450px;
    margin: auto;
  
}


/*FOR MISSION, VISSION, and GOALS STYLES*/
.misson-vission-container{
    margin-left:30px;
    background-color: aliceblue;
    border:2px solid;
   
}
.mission-container, .vission-container, .goals-container{/* FOR MISSION, VISSION, AND GOALS CONTAINER*/   
    width:650px;
    margin-top:20px;   
    box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.295);
    padding:30px;
    border-radius: 10px;
    font-family: "Jost", sans-serif;
    font-size:20px;
    color:rgb(31, 28, 73);
    overflow-x:hidden;
}

.mission-text, .vission-text, .goals-text{ /* FOR MISSION, VISSION, GOALS HEADER TEXT*/
    font-size: 35px;
    color:rgb(23, 23, 46);   
    font-family: "Jost", sans-serif;
    font-weight:900;
    
}
.goals-container ul li{/* FOR GOALS LIST*/
    text-align:left;
}

.mission-container p, .vission-container p, .goals-container p{/* FOR MISSION, VISSION, PARAGRAPH*/
    flex:1;
}

/*FOR SCROLL UP BUTTON STYLE*/
.colleges_scroll-button-container {
    position: fixed;
    bottom: 5%; 
    right: 3%; 
    z-index: 30; 
}

.colleges_scroll-up-link-button {
    width: 70px;
    height: 70px;
    background-color: rgba(13, 92, 238, 1);
    border-radius: 50%;
    border: 10px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    opacity: 0; 
    transform: translateY(-95vh); 
}
.colleges_scroll-up-link-button:hover {
    background-color: rgba(15, 34, 57, 1);
}
.up-arrow-icon {/* up icon */
    width: 15px;
}






/* MEDIA QUERY FOR PORTRAIT- WHEN THE SCREEN MINIMIZE*/
@media only screen and (orientation: portrait) {

  
    .college-top-navigation-container{
        margin:auto;
        
    }
  
    .college-top-navigation-container ul li a{
        padding:5px 10px;

    }
    .bg-logo-container{
        width:100vw;
        overflow:hidden;
    }
    .bg-logo-container .bg-logo{
        width:100vw;
        height:auto;
        margin:auto;
    }
    .courses-subNav-container{
        text-align: center;
        width:100%;
       
    }
    .college-home{
        margin: auto;
        margin-left: 20px;
        display: block;
        padding:5px 10px;
    }

    .logo-and-mv-container{
        gap:10px;
    }
    .logo-and-mv-container .logo-container .logo{
        height:300px;
       
    }
    .mission-container, .vission-container, .goals-container {
        width: 85%; /* Adjust width for portrait mode */
        font-size: 18px; /* Adjust font size for better readability */
        margin: 10px auto; /* Center the containers with auto margins */
        flex-direction: column;
        align-items: center;
    }

    .faculty_and_staff_data_container .staff_container{
        display:block;
        justify-content:start ;
        align-items: start;
        flex-wrap: wrap;
    }
    .profile_container{
        display:block;
        padding: 100px 20px;

    }

   
}






/*FOR ORAGANIZATINAL CHART*/
.organizational_chart_container{
    width:100vw;
    height:100vh;
    
}


/*FOR FACULTY AND STAFF *//* FOR FACULTY AND STAFF */
.faculty_and_staff_data_container {
    width: 100vw;
    padding: 100px 0px;
    background-color: rgba(255, 255, 255, 0.459);
}

.faculty_and_staff_data_container .staff_container {
    display: block;
    margin: auto;
    width: 75%;
    background-color: rgba(255, 255, 255, 0.678);
    padding: 30px;
    border-radius: 10px;
    margin-top:10px;
    display: flex;
    justify-content:start ;
    align-items: start;
  
}

.staff_name_and_profile_button_container {
    border-bottom: 2px solid;
    
}


.staff_name_and_profile_button_container ul li {
    display: inline-flex;
    justify-content:start;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
    height: 40px;
    width: 200px;
    text-align: left;
    gap: 5px;
    padding:0px 10px;
}

.staff_name_and_profile_button_container ul li img {
    width: 12px;
}

.staff_name_and_profile_button_container ul li:hover {
    background-color: rgb(189, 189, 189);
}

.staff_name_and_profile_button_container ul li.active {
    background-color: rgb(189, 189, 189);
}

.staff_info_container {
  display: inline-block;
}
.profile_container {  
  
    padding:  20px;
    margin-top: 50px;
   
}
 .staff_profile {
    width: 180px;
    border-radius: 50%;
  
}

.name_container {
    display: inline-block;
    padding: 40px;
   
    width:100%;
}

.name_container h1 {
    margin-bottom: 30px;
}
.name_container ul {
    list-style: none;
}

 .staff_profile_background_container {
    padding: 10px 50px;
    display: none;
  
}
.educ_attainment_container {
    padding: 20px 10px;
}
 .fields_specialization_container {
    padding: 20px 10px;
}
 .research_interest_container {
    padding: 20px 10px;
}
 .educ_attainment_container h4,
.research_interest_container h4 {
    color: rgb(0, 0, 51);
}
