footer {
    background-color: #0f1b31;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20rem;
    color: #b3c1d3;
    position: relative;
    margin-top: 150px;
}

footer h3,
footer h4 {
    color: white;
}

footer h3 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    position: relative;
}

footer h3::before {
    content: "";
    position: absolute;
    left: 0%;
    margin-top: 40px;
    width: 70px;
    height: 3px;
    background-color: rgb(13, 94, 244);
}

#footer-top {
    display: flex;
    padding-bottom: 1rem;
}

.footer-top__column {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* All Columns: Each list item */
.footer-top__column > ul > li {
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
}

/* First column */
.footer-top__column:first-child {
    align-items: flex-start;
    gap: 2.5rem;
}

/* First column: RMMC Description */
.footer-top__column:first-child > p {
    font-size: 1.1rem;
    line-height: 1.7rem;
}

/* First column: "Follow us on" */
.footer-top__column:first-child > div > h4 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

/* First column: Social Icons Container */
.footer-top__column:first-child > div > ul {
    display: flex;
    gap: 1rem;
}

/* First column: Social Icons Anchor */
.footer-top__column:first-child > div > ul > top {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
    color: white;
    background-color: #1e2c46;
    font-size: 1.4rem;
}

/* First column: Social Icons Anchor:Hovered */
.footer-top__column:first-child > div > ul > top:hover {
    background-color: #0d5ef4;
    border-color: #0d5ef4;
}

/* First Column: ISO Image and Title container */
.footer-top__column:first-child > div:last-child {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    color: white;
}

/* First Column: ISO Image */
.footer-top__column:first-child > div:last-child > img {
    width: 8.5rem;
}

/* Last Column: Input and Icon container */
.footer-top__column:last-child > form > div {
    border: 1px solid rgb(40, 55, 82);
    border-radius: 8px;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr;
    grid-template-areas: "text email";
    place-items: center;
}

/* Last Column: Input */
.footer-top__column:last-child > form > div > input {
    grid-area: text;
    height: 55px;
    width: 100%;
    padding-left: 1rem;
    font-weight: 400;
    background-color: transparent;
    font-size: 16px;
    outline: none;
    caret-color: rgb(255, 255, 255);
    border: none;
}

/* Last Column: Input::placeholder */
.footer-top__column:last-child > form > div > input::placeholder {
    text-align: left;
    font-size: 17px;
    color: #ffffff;
}

.footer-top__column:last-child > form > div > i {
    grid-area: email;
}

#footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0.5rem;
    border-top: 1px solid #283752;
}

/* Last Column: Privacy Policy, Terms and Conditions box */
#footer-bottom > div {
    display: flex;
    gap: 1.7rem;
}

#footer-bottom > div > a {
    color: #b3c1d3;
    text-decoration: none;
}

/* Last Column: Privacy Policy, Terms and Conditions elements */
#footer-bottom top {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1100px) {
    footer > div {
        width: 95%;
    }
}

@media screen and (min-width: 1101px) {
    footer  > div {
        width: 80%;
    }
}

@media screen and (min-width: 1500px) {
    footer > div {
        width: 72%;
    }
}

@media screen and (orientation: portrait) {
    footer {
        padding-top: 25rem;
        margin-top: 250px;
    }

    footer > div {
        width: 95%;
    }

    /*
        +--------------+
        |              | Column 1 to Row 1
        +--------------+
        |       |      | Column 2 and 3 to Row 2
        |       |      |
        +--------------+
        |              | Column 4 to Row 3
        +--------------+

    */
    #footer-top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 100% fit-content;
        grid-template-areas:
            "top top"
            "middle-left middle-right"
            "bottom bottom";
        gap: 1rem;
    }

    .footer-top__column {
        width: 100%;
    }

    .footer-top__column:nth-child(1) {
        margin-bottom: 1.5rem;
    }

    .footer-top__column:nth-child(1) {
        grid-area: top;
    }

    .footer-top__column:nth-child(2) {
        grid-area: middle-left;
    }

    .footer-top__column:nth-child(3) {
        grid-area: middle-right;
    }

    .footer-top__column:nth-child(4) {
        grid-area: bottom;
    }

    /* Last column: form */
    .footer-top__column:nth-child(4) > form {
        width: 100%;
    }

    #footer-bottom {
        gap: 1rem;
    }

    #footer-bottom > div {
        gap: 0.5rem;
    }

    #footer-bottom a {
        color: white;
    }
}