@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
  30% {
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes ripple {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
  30% {
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
.movingX {
  -webkit-animation: movingX 8s linear infinite;
  animation: movingX 8s linear infinite;
}
@-webkit-keyframes movingX {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes movingX {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.jump {
  -webkit-animation: jumpAni 7s linear infinite;
  animation: jumpAni 7s linear infinite;
}
@-webkit-keyframes jumpAni {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes jumpAni {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.jump-reverse {
  -webkit-animation: jumpReverseAni 7s linear infinite;
  animation: jumpReverseAni 7s linear infinite;
}
@-webkit-keyframes jumpReverseAni {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes jumpReverseAni {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.spin {
  -webkit-animation: spin 15s linear infinite;
  animation: spin 15s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@-webkit-keyframes animate-positive {
  0% {
    width: 0;
  }
}
@keyframes animate-positive {
  0% {
    width: 0;
  }
}

/*#region GLOBAL PROPERTIES FOR INDEX */

h1, h2, h3, .h1, .h2, .h3 {
  font-family: 'Jost', sans-serif;
  color: #0f2239;
}

p {
  font-family: 'Roboto', sans-serif;
    margin: 0 0 18px 0;
    color: #4d5765;
    line-height: 1.75;
}

.text-theme {
  color: #0d5ef4;
}

.fw-light {
  font-weight: 300
}

/*#endregion */



/*#region BUTTONS */
.button {
  position: relative;
  z-index: 2;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  border: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #0d5ef4;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  padding: 20.5px 29px;
  box-shadow: 0px 6px 16px rgba(13, 94, 244, 0.24);
  border-radius: 5px;
  transition: 300ms;
}

.button:before {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 100%;
  background-color: #ffffff;
  transform: translateX(-50%) translateY(-50%) rotate(60deg);
  z-index: -1;
  transition: 0.4s ease;
}

.button:hover,
.button.active {
  color: #0f2239;
}

.button:hover::before,
.button.active::before {
  height: 320%;
}

.button.btn_style {
  box-shadow: none;
}
/*endregion  */


.welcome-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 650px; /* Adjust height as needed */
  position: relative;

}

 .welcome-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #001f47;
  opacity: 0.85; /* Set the opacity of the background */
 
}  

.welcome-section  .logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns items to the left */
  padding-left: 20px; /* Adds padding to align with the container */
  width: 50%;
  height: auto;
}

.welcome-section  .logo {
  display: flex;
  gap: 20px; /* Adds space between the logos */
  margin-bottom: 20px; /* Adds space between the logos and the text/button container */
  z-index: 0;
  align-items: flex-start;
}

.welcome-section  .text-button-container {
  z-index: 2; /* Move shape behind content */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns items to the left */

}

.welcome-section  .accredited-text {
  font-size: 25px;
  text-decoration: underline; /* Adds underline to the text */
  color: aliceblue;
  text-align: left; /* Aligns the text/button to the left */
  display: flex;
}






.welcome-section  .background-shape {
  position: absolute;
  right: 0; /* Align to the right edge of the container */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust to center vertically */
  height: 100%; /* Match the container's height */
  width: auto; /* Adjust width as needed */
}

.welcome-section .background-shape img {
  height: 100%; /* Ensure the image matches the height of the container */
  width: 100%; /* Maintain aspect ratio */
  
}

.welcome-section  .student-right {
  position: absolute;
  height: 100%; /* Match the container's height */
  width: 100%; /* Adjust width as needed */
  z-index: 0;
}

.welcome-section  .student-right img{
  position: absolute;
  max-width: 100%; /* Ensure the image does not exceed the container width */
  width: 800px; /* Ensure the image scales properly */
  height: auto; /* Maintain aspect ratio */
  right: 5%;
  bottom: 0;
}

.welcome-section .shape3 {
  position: absolute;
  top: -320px;
  left: -200px;
  width: 619.52px;
  height: 619.52px;
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 100px;
  -webkit-transform: rotate(25.36deg);
  -ms-transform: rotate(25.36deg);
  transform: rotate(25.36deg);
  z-index: 0;
  -webkit-animation: spin 40s linear infinite;
  animation: spin 40s linear infinite;
}

.welcome-section .hero-img1:before {
  content: '';
  box-sizing: border-box;
  width: 385px;
  height: 385px;
  background: rgba(255, 255, 255, 0.34);
  border: 12px solid var(--theme-color);
  box-shadow: 0px 4px 30px rgba(29, 94, 172, 0.2);
  border-radius: 50%;
  position: absolute;
  top: -200px;
  left: 55%;
  z-index: -1;
  -webkit-animation: jumpAni 7s linear infinite;
  animation: jumpAni 7s linear infinite;
}












.welcome-to-section {
  display: flex; /* Use flexbox to arrange items */
  align-items: center; /* Align items vertically centered */
  justify-content: space-between; /* Space items out evenly */
  padding: 20px; /* Add some padding around the container */
  
  width: 100%; /* Adjust the width as needed, can use percentage or fixed values */
  margin: 0 auto; /* Center the container horizontally */
}

/* Container for the image */
.picture-container {
  flex: 1; /* Allow this container to grow */
  text-align: left; /* Align image to the left */
  width: 50%;
}


.welcome-to-section .text-container {
  width: 50%;
}


/* Styling for the checkbox text */
.checkbox-text {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #0f2239;
  position: relative;
}

/* Styling for the checkbox icon */
 .checkbox-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #0d5ef4;
  color: white;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 1rem;
}

.welcome-to-section .text1 {
  color: #0d5ef4;
  text-decoration: underline;
  text-align: center;
  font-weight: 200;
  font-size: 35px;
  margin-bottom: -20px;
}

.welcome-to-section .text2 {
  font-size: 60px;
}

.welcome-to-section .picture-container img {
  margin-top: 70px;
}

.welcome-to-section .button-contact {
  display: inline-block;
  margin-top: 80px;
  padding: 15px 25px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px; /* Adds space between text and button */
}

.welcome-to-section  .button-contact:hover {
  background-color: #0056b3;
}










.courses-container {
  padding-top: 100px;
  max-width: 100%;
  
  align-items: center;
}


.course-cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}



.courses-container .text-center {
  text-align: center;

}
.courses-container .sub-title {
  font-size: 16px;
    font-weight: 500;
    color: #0d5ef4;
    font-family: 'Jost', sans-serif;
    text-transform: uppercase;
    margin-top: -0.41em;
    margin-bottom: 22px;
    display: block;
}
.courses-container .sec-title {
  font-size: 36px;
  font-weight: 700;
  margin-top: -0.41em;
  margin-bottom: 22px;
  display: block;
  text-decoration: underline;
  line-height: 1.208;
}
.courses-container .courses-title {
  font-size: 36px;
  font-weight: 300 !important;
  color: #0d5ef4 !important;
  display: inline;
}
/* General card styling */
.courses-container .course-card-link {
  text-decoration: none; /* Remove default link styling */
  color: inherit; /* Inherit text color */
}






.courses-container .course-cards {
  display: flex;
  width: 100%;
  justify-content: center;
}

.hidden {
  display: none;
}





.courses-container .course-card {

  border: 1px solid #ddd; /* Light grey border */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Clip the content inside the border-radius */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for a 3D effect */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transitions */
  background-color: white;
  max-width: 500px;
  width: 450px;
  height: auto;
  margin: 1%;
}
  /* Hover effect for the card */
  .courses-container .course-card:hover {
    transform: scale(1.05); /* Slightly enlarge the card */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
  }

/* Styling for the image container */
.courses-container .course-img img {
  margin-top: 2.5%;
  margin-left: 2.5%;
  width: 95%; /* Full width of the container */
  height: auto; /* Maintain aspect ratio */
  border-bottom: 1px solid #ddd; /* Border between image and content */
  border-radius: 10px; /* Rounded corners */
}

/* Title styling */
.courses-container.course-title {
  padding: 15px; /* Internal padding */
  background-color: #f9f9f9; /* Light grey background */
}

.courses-container .course-title h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 3;
  text-align: center;
}

/* Footer styling */
.courses-container .course-footer {
  display: flex; /* Flexbox layout */
  justify-content: space-between; /* Space between items */
  padding: 10px 15px; /* Internal padding */
  background-color: #fff; /* White background */
  border-top: 1px solid #ddd; /* Border between content and footer */
}

.courses-container .course-footer span {
  font-size: 0.9rem; /* Smaller font size */
  color: #666; /* Medium grey text color */
  font-family: var(--body-font); /* Custom font */
}





.prev-button, .next-button {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 20px 20px; /* Adjust padding to increase button size */
  cursor: pointer;
  z-index: 3;
  
}

.prev-button {
  left: 1%;
}

.next-button {
  right: 1%;
}





/*#region VISION CONTAINER */
.vision-container {
  padding-top: 100px;
  display: flex;
  align-items: center;
  content: space-between;
  width: 100%;
  margin: 0 auto;
}

.vision-container .right-wrapper {
  width: 50%;
}

.vision-container .text-container {
  width: 50%;
}

.vision-container .text-container .h1 {
  font-size: 30px;
}

.vision-container  .checklist {
 display: flex;
 gap: 10px;

}


.vision-container  .checklist .checkbox-text {
  font-size: 26px;
  font-weight: 600;
}


/* TODO:  */
.vision-container .checklist .checkbox-text .checkbox-icon {
  width: 25px;
  height: 25px;
  line-height: 25px;
}


.vision-container .picture-left {
margin-left: 50px;
}


.vision-container .student-count {
  position: absolute;
  background-color: white;
  box-shadow: 0px 4px 18px rgba(158, 165, 177, 0.23);
  border-radius: 10px;
  padding: 30px;
  left: 50px;
  height:150px;
  margin-left: -20px;
  margin-top: -200px;
}




.vision-container .student-count .count {
  padding: 15px 4px;
  border-radius: 50%;
  background-color: #0056b3;
    color: white;
    margin: -10px;

}
.vision-container  .student-count .avatar-list {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px;
  
  }

.vision-container .student-count .avatar {
display: inline-flex;
align-items: center;
}
.vision-container .student-count img {

  display: inline-flex;
  border: 10px;
  background-color: white;
border-radius: 50%;
padding: 3px 3px; /* Adjust padding to increase button size */
width: 55px;
height: auto;
margin: -10px;
}


/*#engregion  */


.jump {
  position: absolute;
  right: 0%;
  z-index: -1;
}

.newsevents-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* NEWS TITLE */
.newsevents-container .title-container {
  margin-top: 100px;
  font-size: 35px;
  text-decoration: underline;
}












/* NEWS EVENTS */
.newsevents-container .news-container {
  padding-top: 50px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create 2 equal columns */
  gap: 20px; /* Adjust the gap between items as needed */
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.newsevents-container .news-container .grid-item {
  background: white; /* Add a background color for better visibility */
  padding: 20px; /* Add padding inside each grid item */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  max-height: 230px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 25px;
}
.newsevents-container .news-container .grid-image img {
  width: 200px;
  height: auto;
  max-height: max-content;
  border-radius: 10px;
  overflow: hidden;
}


.newsevents-container .news-container .grid-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.newsevents-container .news-container .grid-content .grid-date {
  height: 15%;
}

.newsevents-container .grid-content .grid-title {
  margin-top: 15px;
}
.newsevents-container .grid-content .grid-title h2 {
  line-height: 1.2;
  word-wrap: break-word;
}


.newsevents-container .grid-content .grid-footer {
  position: relative;
  bottom: 0%;
  display: flex;
  gap: 20px;
  margin-top: auto;
  height: 45px;
}

.newsevents-container .grid-content .grid-footer .button {
  padding: 15.5px 27px;
  text-decoration: none;
}
.newsevents-container .news-container .grid-content .author {
  display: flex;
}
.newsevents-container .news-container .grid-content .author img{
  border-radius: 50px;
  width: 50px;
  height: auto;
}
.newsevents-container .news-container .grid-content .author .author-name {
  align-content: center;
  margin-left: 10px;
}

.newsevents-container .grid-item:hover .grid-image img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.grid-image img {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}


.newsevents-container .view-content {
  position: relative;
  align-content: center;
  margin-bottom: 100px;
}