* {
    font-family: 'Poppins';
}

body {
    /*   background-color: red; */
    width: 100dvw;
    height: 100dvh;
}

.main {
    margin: 0 1rem;
}


/* Library Header Nav Container */
.library_services__top {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(50, 65, 65);
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 3rem;
    border-radius: 3rem;
    padding: 0.5rem 10rem;
    padding-bottom: 7rem;

}

.library_services__top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/img/library_place.png');
    background-size: cover;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    background-position: center;
    filter: brightness(0.5);
    z-index: 1;
}

.library_services__top__links {
    display: flex;
    list-style: none;
    padding: 1rem;
    margin: 0;
    position: relative;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}


.library_services__top__links__list {
    height: 40px;
    text-decoration: none;
    margin: 0 25px;
    /* Spacing between the library__home__page__links__list */
    font-size: 1rem;
    /* Adjust the font size as needed */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Change cursor on hover */
    justify-content: space-between;
}

.library_services__top__links__list:hover {
    text-decoration: underline;
    /* Underline on hover */
}

#library_services__top__title {
    font-family: 'Times New Roman';
    text-decoration: none;
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: calc(2vw + 2rem);
    font-weight: 300;
    border-left: 5px solid #2167ea;
    padding: 0 1rem;
}
 

/* Library Services Maon Page container */
.library_services__page {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: start;
    justify-content: space-around;
    padding: 4rem;
    width: 100%;
    margin: 0 auto;
    padding: 6.5rem 5rem;
    z-index: -1;
}

.library_services__page__title {
    margin-bottom: 2rem;
    color: #000000;
    font-family: 'Times New Roman';
    font-size: 2rem;
    padding: 0 3rem;
}

.library_services__page__nav {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;
}

.library_services__page__nav__right__title {
    font-size: 2.7rem;
    font-weight: 200;
    color: #0f1b31;
    margin-bottom: 1rem;
    font-family: 'Poppins' !important;
    text-align: left;
    width: 100%;
}

.library_services__page__nav__left {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 3rem;
}

.library_services__page__nav__left.active {
    display: flex;
}

.library_services__page__nav__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: fit-content;
    border-left: 1px solid #000000;
    padding: 3rem;
}

.library_services__page__nav__right__links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    line-height: 2.5rem;
}

.library_services__page__nav__right__links__item {
    color: #0f1b31;
    text-decoration: none;
    font-weight: 600;
    text-align: left;
    cursor: pointer;
}

.library_services__page__nav__right__links__item:hover {
    color: #0d5ef4;
}

.library_services__page__nav__right__links__item .active {
    color: #0d5ef4;
}

.library__vmg__page__content__item__description {
    font-size: 1.1rem;
    color: #333;
    text-align: left;
    font-family: 'Poppins' !important;
    font-weight: 300;
}

#list {
    line-height: 3rem;
    padding:1rem
}


#tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tablinks {
    background-color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    flex: 1;
    text-align: center;
    font-family: 'Poppins';
}

.tablinks:hover {
    background-color: #ddd;
}

.tablinks.active {
    border-top: 5px solid #0d5ef4;
    background-color: #f3f7fb;
    color: #0d5ef4;
    font-weight: 600;
}

.tabcontent {
    display: none;
    padding: 2rem;
    line-height: 2rem;
    text-align: left;
    background-color: #f3f7fb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabcontent li {
    padding: 0.8rem;
}

.tabcontent__title {
    color: #074ccc;
    font-size: 1.5rem;
}

.tabcontent__description {
    margin: 1rem 0;
}

.tabcontent__subtitle {
    font-style: italic;
    font-size: 1.2rem;
    margin: 1rem 0;
}

#reference-book-services-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2rem;
    line-height: 2rem;
    background-color: #f3f7fb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reference-book-services-content__title {
    color: #0d5ef4;
    align-items: start;
}

.reference-book-services-content__description {
    color: #000000;
    padding: 1rem;
}

.reference-book-services-content__subtitle {
    font-size: 1rem;
    font-style: italic;
}

.library-orientation-and-instruction__title {
    align-items: start;
}

#library-orientation-and-instruction-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2rem;
    line-height: 2rem;
    text-align: left;
    background-color: #f3f7fb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#inter-library-loan-referral-service-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2rem;
    line-height: 2rem;
    text-align: left;
    background-color: #f3f7fb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inter-library-loan-referral-service-content__description {

}

#internet-service-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 2rem;
    line-height: 2rem;
    text-align: left;
    background-color: #f3f7fb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.internet-service-content__description {

}