* {
    font-family: 'Poppins';
}

body {
    width: 100dvw;
    height: 100dvh;
}

#library {
    padding: 0 1.5rem;
    padding-top: 1.5rem;
    margin-bottom: 20rem;
}

#library-social-links {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

#library-social-links > a {
    display: grid;
    place-items: center;
    color: #333;
    font-size: 1.2rem;
    text-decoration: none;
    transition: 200ms ease;
    padding: 2.5rem;
    margin: 1rem;
    border-radius: 10px;
}

#library-social-links > a:hover {
    background-color: #333;
    color: white;
}

#library-top {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(50, 65, 65);
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    padding: 0.5rem 10rem;
    z-index: 9;
}

#library-top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/library-building-chairs.png');
    background-size: cover;
    border-radius: 3rem;
    background-position: center;
    filter: brightness(0.4);
}

.library-top__links {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    z-index: 1;
    padding: 2rem 0;
}

.library-top__links a {
    text-decoration: none;
    text-transform: uppercase;
}

.library-top__links__item {
    font-size: 1rem;
    color: white;
    cursor: pointer;
    justify-content: space-between;
}

.library-top__links__item:hover {
    text-decoration: underline;
}

#library-top__title {
    text-decoration: none;
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: calc(20vw + 2rem);
}

#library-top__subtitles {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 1;
}

.library-top__subtitles__list {
    font-size: 4rem;
    line-height: 5.5rem;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}

.text--mini {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: unset;
    margin: 3rem;
    margin-left: unset;
    margin-top: 1.5rem;
}

#library-top-hours {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5rem;
}

#library-top-hours-menus {
    display: flex;
    background-color: #fff;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin-bottom: 10px;
    position: relative;
}

.library-top-hours-menus__search-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    flex: 1;
    cursor: pointer;
    border-right: 1px solid #e0e0e0;
}

.library-top-hours-menus__search-item > * {
    pointer-events: none;
}

.library-top-hours-menus__search-item:last-child {
    border-right: none;
}

/* Dropdown title */
.library-top-hours-menus__search-item p {
    margin-right: 10px;
}

/* Dropdown arrow */
.library-top-hours-menus__search-item div {
    font-size: 2rem;
    color: #888;
}

.library-top-hours-menus__dropdown {
    position: fixed;
    display: none;
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    gap: 1rem;
    z-index: 9;
}

.library-top-hours-menus__dropdown p {
    font-weight: normal;
}

/* Library Charter */

#library-charter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding: 6.5rem 5rem;
}

.library-charter__row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 2;
    gap: 5rem;
}

.library-charter__row__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.library-charter__row__item:nth-child(2) {
    margin-top: 300px;
}

.library-charter__row__item:last-child {
    margin-top: 500px;
}

.library-charter__row__item > h3 {
    font-size: 3rem;
    font-weight: 500;
    color: #0f1b31;
    margin-bottom: 1rem;
    font-family: 'Poppins' !important;
    text-align: left;
    width: 100%;
}

.library-charter__row__item > p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #333;
    text-align: left;
    font-family: 'Poppins' !important;
    font-weight: 300;
}

/* Library Floors */

/* New CSS for the additional container */
#library-floors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 5rem;
    border-radius: 10px;
    width: 100%;
}

.library-floors__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20rem;
}

/* Library floor item title */
.library-floors__item > h2 {
    font-size: 3.5rem;
    font-family: 'Poppins' !important;
    font-weight: 500;
    color: #0f1b31;
    padding: 2rem 0;
    text-align: left;
}

.library-floors__item:nth-child(2) > h2 {
    text-align: right;
}

.library-floors__item__content {
    display: flex;
}

.library-floors__item__content__image-group {
    display: flex;
    gap: 1rem;
}

.library-floors__item__content__image-group__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    width: 100%;
}

.library-floors__item__content__image-group__item > img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.library-floors__item__content__description {
    font-size: 1.5rem;
    text-align: left;
    color: #333;
    line-height: 2.5rem;
    width: 50%;
    font-weight: 300;
    padding: 0 3rem;
}

/* First floor overriden styles */
.library-floors__item:first-child >
.library-floors__item__content >
.library-floors__item__content__image-group {
    width: 100%;
}

/* Second floor overriden styles */
.library-floors__item:nth-child(2) >
.library-floors__item__content {
    flex-direction: row-reverse;
}

.library-floors__item:nth-child(2) >
.library-floors__item__content >
.library-floors__item__content__image-group {
    width: 70%;
}

/* Second floor overriden styles */
.library-floors__item:nth-child(4) >
.library-floors__item__content__desc >
.library-floors__item__content__description {
    width: 100%;
}

/* Fourth floor overriden styles */
.library-floors__item:nth-child(4) {
    display: flex;
    flex-direction: column;
}

.library-floors__item:nth-child(4) > h2 {
    text-align: right;
}

.library-floors__item:nth-child(4) >
.library-floors__item__content {
    flex-direction: column;
}

.library-floors__item:nth-child(4) >
.library-floors__item__content >
.library-floors__item__content__image-group {
    display: flex;
    gap: 1rem;
}

.library-floors__item:nth-child(4) >
.library-floors__item__content >
.library-floors__item__content__image-group >
.library-floors__item__content__image-group__item {
    margin: unset;
    position: relative;
}

.library-floors__item:nth-child(4) >
.library-floors__item__content >
.library-floors__item__content__image-group >
.library-floors__item__content__image-group__item >
.library-floors__item__content__image-group__item__text {
    position: absolute;
    bottom: 0%;
    left: 0%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.library-floors__item:nth-child(4) >
.library-floors__item__content >
.library-floors__item__content__image-group >
.library-floors__item__content__image-group__item > img {
    filter: brightness(70%);
}

.library-floors__item:nth-child(4) >
.library-floors__item__content >
.library-floors__item__content__image-group >
.library-floors__item__content__image-group__item >
.library-floors__item__content__image-group__item__text > * {
    color: white;
}

.library-floors__item:nth-child(4) >
.library-floors__item__content >
.library-floors__item__content__image-group >
.library-floors__item__content__image-group__item >
.library-floors__item__content__image-group__item__text > p:first-child {
    font-size: 3rem;
}

.library-floors__item:nth-child(4) >
.library-floors__item__content >
.library-floors__item__content__description {
    width: 100%;
    padding: 2rem 1rem;
    height: fit-content;
}

/* Logo bottom */

#logo-message {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0f1b31;
    padding: 10rem 5rem;
    margin: 0 5rem;
}

.logo-message-content-library-top__title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 4rem;
    padding: 2rem;
    width: 100%;
    text-align: left;
}

#logo-message-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
    gap: 5rem;
}

.logo-message-content__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 50%;
    gap: 2rem;
    border-radius: 10px;
}

.logo-message-content__item:first-child {
    width: 40%;
}

.logo-message-content__item>img {
    width: 30rem;
    height: 30rem;
}

.logo-message-content__item__title {
    font-size: 2.7rem;
    line-height: 3.5rem;
    font-weight: 500;
    color: #ffffff;
    font-family: 'Poppins' !important;
    text-align: left;
}

.logo-message-content__item__description {
    font-size: 1.5rem;
    line-height: 2;
    color: #ffffff;
    text-align: left;
    font-family: 'Poppins' !important;
    font-weight: 200;
}

@media screen and (orientation: portrait) {

    #library {
        padding: 0.5rem;
    }

    #library-top {
        padding: 1.5rem;
        padding-top: unset;
    }

    .library-top__links {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .library-top__links a {
        padding: 5px;
        background-color: white;
        color: black;
        text-transform: capitalize;
        gap: 0.5rem;
        font-size: 0.9rem;
        border-radius: 5px;
    }

    #library-top__title {
        font-size: 6rem;
    }

    #library-top__subtitles {
        width: 100%;
    }

    .library-top__subtitles__list {
        font-size: 0.9rem;
        line-height: unset;
        letter-spacing: unset;
        width: 80%;
    }

    .text--mini {
        font-size: 0.8rem;
        margin-top: unset;
    }

    #library-top-hours {
        margin: unset;
    }

    #library-top-hours-menus {
        margin: unset;
        width: 100% !important;
    }

    .library-top-hours-menus__search-item {
        padding: 1rem 2rem;
    }

    /* Dropdown title */
    .library-top-hours-menus__search-item p {
        margin-right: unset;
        font-size: 0.8rem;
    }

    /* Dropdown arrow */
    .library-top-hours-menus__search-item div {
        font-size: 1.5rem;
    }

    .library-top-hours-menus__dropdown {
        display: none;
        background-color: #f9f9f9;
        width: 80%;
        max-width: 800px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .library-top-hours-menus__dropdown p {
        margin: 5px 0;
    }

    .library-charter__row {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    #library-charter {
        padding: 1rem;
    }

    .library-charter__row__item:nth-child(2) {
        margin-top: unset;
    }

    .library-charter__row__item:last-child {
        margin-top: unset;
    }

    .library-charter__row__item > h3 {
        font-size: 1.5rem;
    }

    .library-charter__row__item > p {
        font-size: 1rem;
        line-height: 2rem;
    }

    #library-floors {
        padding: 0 1rem;
    }

    .library-floors__item {
        padding-bottom: 5rem;
    }

    .library-floors__item > h2 {
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
        width: 60%;
    }

    .library-floors__item:nth-child(2),
    .library-floors__item:nth-child(4) {
        align-items: flex-end;
    }

    .library-floors__item__content__description {
        font-size: 1rem !important;
        text-align: left;
        line-height: 2rem;
        width: 100%;
        padding: unset;
    }

    .library-floors__item__content {
        flex-direction: column;
        gap: 1rem;
    }

    .library-floors__item:nth-child(2) >
    .library-floors__item__content {
        flex-direction: column;
    }

    .library-floors__item:nth-child(2) >
    .library-floors__item__content >
    .library-floors__item__content__image-group {
        width: 100%;
    }

    .library-floors__item:nth-child(3) >
    .library-floors__item__content >
    .library-floors__item__content__image-group {
        flex-direction: column;
    }

    .library-floors__item:nth-child(4) >
    .library-floors__item__content >
    .library-floors__item__content__image-group {
        width: 100%;
        flex-direction: column;
    }

    .library-floors__item:nth-child(4) >
    .library-floors__item__content >
    .library-floors__item__content__description {
        padding: unset;
    }

    #logo-message {
        background-color: #0f1b31;
        padding: 5rem 1rem;
        margin: unset;
        margin-bottom: 200px;
    }

    #logo-message-content {
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }

    .logo-message-content__item:first-child {
        width: 100% !important;
        max-width: unset;
    }

    .logo-message-content__item__title {
        font-size: 1.5rem !important;
        line-height: 2rem;
    }

    .logo-message-content__item__description {
        font-size: 1rem;
        line-height: 2rem;
    }

    .logo-message-content__item > img {
      width: 15rem;
      height: 15rem;
    }
}

@media screen and (max-width: 1500px) {
    .library-top__subtitles__list {
        font-size: 2rem;
        line-height: 3.5rem;
        width: 60%;
        color: white;
        font-weight: 600;
        letter-spacing: unset;
    }

    .text--mini {
        font-weight: 400;
        font-size: 1.2rem;
    }

    .library-charter__row__item > p {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .library-floors__item__content__description {
        font-size: 1.5rem !important;
        line-height: 2.5rem;
        width: 100%;
    }

    .logo-message-content__item__title {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .logo-message-content__item__description {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

@media screen and (max-width: 1300px) {
    .library-top__subtitles__list {
        font-size: 1.5rem;
        line-height: 3rem;
        width: 60%;
        color: white;
        font-weight: 600;
        letter-spacing: unset;
    }

    .text--mini {
        font-weight: 400;
        font-size: 1rem;
    }

    .library-charter__row__item > p {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .library-floors__item__content__description {
        font-size: 1.3rem !important;
        line-height: 2rem;
        width: 100%;
    }

    .logo-message-content__item__title {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .logo-message-content__item__description {
        font-size: 1rem;
        line-height: 2rem;
    }
}