
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  padding: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 100px;
}

.carousel__carousel_Btn {
  padding: 20px 20px;
  font-size: medium;
  font-weight: bold;
  border: none;
  background-color: #ffffff;
}
.carousel__carousel_Btn {
  position: relative;
  z-index: 2;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  border: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #0d5ef4;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.carousel__carousel_Btn::before {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 600%;
  background-color: #000d65;
  transform: translateX(-50%) translateY(-50%) rotate(60deg);
  z-index: -1;
  transition: 500ms ease;
}
.carousel__carousel_Btn:hover,
.carousel__carousel_Btn.active {
  color: #ffffff;
}

.carousel__carousel_Btn:hover::before,
.carousel__carousel_Btn.active::before {
  height: 560%;
}

.news_card_box {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.news-card__item {
  display: grid;
  grid-template-columns: 65% 5% 30%;
  grid-template-areas: "text empty image";
  grid-template-rows: 1fr;
  border-bottom: 1px solid #91919138;
  height: fit-content;
  justify-content: space-between;
  padding: 2rem 0;
  place-items: center;
  width: 100%;
}

.news-card__item > div:nth-child(2) {
  grid-area: empty;
}

.news-card__item__img {
  grid-area: image;
  object-fit: cover;
  width: 55%;
  margin-right: 20px;
}

.news-card__item__img > img {
  border-radius: 10px;
}

/* Author imag */
.news-card__item__element__author > img {
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50px;
  cursor: pointer;
}

.news-card__item__element__author {
  gap: 10px;
  display: flex;
  align-items: center;
}

.news-card__item__element__author p {
  color: #4e4e4e;
}

.news-card__item__element {
  display: flex;
  grid-area: text;
  flex-direction: column;
  margin-left: 20px;
  width: fit-content;
  justify-self: flex-start;
  height: fit-content;
  gap: 1rem;
}

.news-card__item__element__description {
  display: flex;
  flex-direction: column;
}

.news-card__item__element__description h2 {
  color: #001c51;
  font-size: 2rem;
  font-weight: bolder;
}

.news-card__item__element__description h4 {
  text-decoration: none;
  font-size: 1.15rem;
  color: #4e4e4e;
  font-weight: normal;
}

.news-card__item__element__bottom {
  display: flex;
  width: fit-content;
  gap: 1rem;
  align-items: center;
}

.news-card__item__element__bottom > a {
  text-decoration: none;
  color: white;
}

/* Date and time container */
.news-card__item__element__bottom > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* Date and time container inner html elements */
.news-card__item__element__bottom > div > h3 {
  text-decoration: none;
  color: #4e4e4e;
  font-weight: normal;
  font-size: 1rem;
}

@media screen and (orientation: portrait) {

  .news_card_box {
    width: 95%;
  }

  .news-card__item {
    width: 95%;
    padding: 3rem 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: unset;
    gap: 1rem;
  }

  .news-card__item__element {
    margin-left: unset;
  }

  .news-card__item__img {
    width: 100%;
    height: 200px;
    margin-right: unset;
  }

  .news-card__item__img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .news-card__item__date-and-time > div > {
    flex-direction: column;
    gap: 0;
  }
}

@media screen and (orientation: portrait) and (min-width: 400px) {
  .news-card__item__img {
    height: 300px;
  }
}

@media screen and (orientation: portrait) and (min-width: 700px) {
  .news-card__item__img {
    height: 400px;
  }
}