@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Jost";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.breadcrumb-card {
  background-color: #001c51;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  margin-bottom: 20px;
}

.breadcrumb-card__box__title {
  font-size: 3rem;
  color: white;
}

.breadcrumb-card__box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.breadcrumb-card__box__menu__item__link {
  color: white;
}

.carousel {
  padding: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 100px;
}

.carousel__carousel_Btn {
  padding: 20px 20px;
  font-size: medium;
  font-weight: bold;
  border: none;
  background-color: #ffffff;
}
.carousel__carousel_Btn {
  position: relative;
  z-index: 2;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  border: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #0d5ef4;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.carousel__carousel_Btn::before {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 600%;
  background-color: #000d65;
  transform: translateX(-50%) translateY(-50%) rotate(60deg);
  z-index: -1;
  transition: 500ms ease;
}
.carousel__carousel_Btn:hover,
.carousel__carousel_Btn.active {
  color: #ffffff;
}

.carousel__carousel_Btn:hover::before,
.carousel__carousel_Btn.active::before {
  height: 560%;
}

.news_card_cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.news-card__item {
  display: grid;
  grid-template-columns: 65% 5% 30%;
  grid-template-areas: "text space image";
  place-items: center;
  border-bottom: 1px solid rgb(145, 145, 145);
  margin: 2px;
  height: fit-content;
  width: 50%;
  justify-content: space-between;
  padding: 1.5rem 0;
}

#news-card__item__img {
  grid-area: image;
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

#news-card__item__element__author__img {
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50px;
  cursor: pointer;
}

.news-card__item__element__author {
  gap: 10px;
  display: flex;
  align-items: center;
}

.news-card__item__element__author p {
  color: #4e4e4e;
}

.news-card__item__element {
  display: flex;
  grid-area: text;
  flex-direction: column;
  margin-left: 20px;
  width: fit-content;
  justify-self: flex-start;
}

.news-card__item__element__description {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.news-card__item__element__description h2 {
  color: #001c51;
  font-size: 1.8rem;
  font-weight: 400;
}

.news-card__item__element__description h4 {
  text-decoration: none;
  color: #4e4e4e;
  font-weight: normal;
}

.news-card__item__element__date-and-time__display h3 {
  text-decoration: none;
  color: #4e4e4e;
  font-weight: normal;
  font-size: 12px;
}

.news-card__item__element__date-and-time__view h1 {
  color: white;
  font-weight: normal;
  font-size: 13px;
  text-decoration: none;
}

.news-card__item__element__date-and-time {
  font-size: 13px;
  margin-bottom: 30px;
  display: flex;
  width: fit-content;
  gap: 1rem;
  align-items: center;
}

.news-card__item__element__date-and-time__view {
  position: relative;
  z-index: 2;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  border: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #0d5ef4;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  padding: 8px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.news-card__item__element__date-and-time__view:before {
  content: "";
  position: absolute;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 600%;
  background-color: #000d65;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(60deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(60deg);
  transform: translateX(-50%) translateY(-50%) rotate(60deg);
  z-index: -1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.news-card__item__element__date-and-time__view:hover,
.news-card__item__element__date-and-time__view.active {
  color: #0f2239;
}

.news-card__item__element__date-and-time__view:hover::before,
.news-card__item__element__date-and-time__view.active::before {
  height: 560%;
}

.news-card__item__element__date-and-time__display {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media screen and (orientation: portrait) {
  .breadcrumb-card__box {
    display: flex;
    flex-direction: column;
  }

  .breadcrumb-card__box__title {
    font-size: 40px;
  }

  .news-card__item {
    width: 95%;
  }

  .news-card__item__date-and-time__display {
    flex-direction: column;
    gap: 0;
  }
}
