body {
    /* background-image: url("rmmc/assets/img/FGMNEW.png"); */
    background-image: url('/rmmc/assets/img/FGMNEW.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

.space .container {
    margin: 0 auto;
    max-width: 1200px;
}

.admission_name {
    text-align: center;
    font-style: normal;
    font-size: 50px;
    font-weight: bold;
    color: #3a6fb1;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.test, .test1 {
    color: #3a6fb1;
    font-size: 20px;
    text-align: right;
    font-weight: bold;
    position: relative;
    right: 50px;
}

.test3 {
    line-height: 50px;
    margin-top: 50px;
    color: #3a6fb1;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    height: 100px;
}

hr.test1 {
    border-top: 5px solid #000000;
}

.requirements-title {
    color: #3a6fb1;
    font-style: normal;
    font-size: 30px;
    font-weight: bold;
}

.requirements-content {
    color: #050535;
    font-style: normal;
    font-size: 90%;
    font-weight: bold;
}

.section-title {
    text-align: right;
}

img {
    max-width: 100%;
    height: auto;
}

.main-container {
    padding: 10px;
    margin: 0 auto;
    max-width: 1000px;
}