@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("./blog-card.css");
@import url('./animation.css');

* {
    font-family: "Jost";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.button--primary {
    position: relative;
    z-index: 2;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    text-align: center;
    background-color: #0d5ef4;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    padding: 20.5px 29px;
    box-shadow: 0px 6px 16px rgba(13, 94, 244, 0.24);
    border-radius: 5px;
    transition: 300ms;
    text-decoration: none;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.button--primary:before {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 100%;
    background-color: #ffffff;
    transform: translateX(-50%) translateY(-50%) rotate(60deg);
    z-index: -1;
    transition: 0.4s ease;
}

.button--primary:hover,
.button--primary.active {
    color: #0f2239;
}

.button--primary:hover::before,
.button--primary.active::before {
    height: 320%;
}

.button--primary.btn_style {
    box-shadow: none;
}