@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("./breadcrumb.css");
@import url("./blog-card.css");
@import url('./animation.css');

* {
    font-family: "Jost";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.button {
    position: relative;
    z-index: 2;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    padding: 20.5px 29px;
    background-color: white;
    box-shadow: 0px 6px 16px rgba(13, 94, 244, 0.24);
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.button--primary::before,
.button--primary::after {
    background-color: #0d5ef4;
}

.button--danger::before,
.button--danger::after {
    background-color: #dc3545;
}

.button::before, .button::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    transition: 0.4s cubic-bezier( 0.2, 0.77, 0.53, 0.59 );
    z-index: -1;
}

.button::before {
    left: 0;
}

.button::after {
    right: 0;
}

.button:hover {
    color: black;
}

.button:hover::before {
    transform: translateX(-100%);
}

.button:hover::after {
    transform: translateX(100%);
}

#rmmc-background-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 0;
    width: 100%;
}

@media screen and (orientation: portrait) {
    #rmmc-background-image {
        display: none;
    }
}